[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-migrate = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"