<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<header>
<nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
      </nav>
</header>

<body>
  <header>
    <h1>search coming soon</h1>
  </header>
  <main>
    <form id="search-form" class="hide">
      <label for="search">Search for a company</label>
      <input type="text" name="company" id="input-search" placeholder="Enter a Company here">
      <button type="submit">submit!</button>
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>